[submodule "25-2C/AyOC/tp-simd-Buty800"]
	path = 25-2C/AyOC/tp-simd-Buty800
	url = git@github.com:AyOC-exactas/tp-simd-Buty800.git
[submodule "25-2C/AyOC/tp-git-Buty800"]
	path = 25-2C/AyOC/tp-git-Buty800
	url = git@github.com:AyOC-exactas/tp-git-Buty800.git
[submodule "25-2C/AyOC/tp-sp-nacho-y-sus-seg-faults"]
	path = 25-2C/AyOC/tp-sp-nacho-y-sus-seg-faults
	url = git@github.com:AyOC-exactas/tp-sp-nacho-y-sus-seg-faults.git
[submodule "25-2C/ISW/ejercicio-1-c-digo-repetido-este-grupo-es-un-objeto"]
	path = 25-2C/ISW/ejercicio-1-c-digo-repetido-este-grupo-es-un-objeto
	url = git@github.com:UBA-FCEN-IngSoft1/ejercicio-1-c-digo-repetido-este-grupo-es-un-objeto.git
[submodule "25-2C/ISW/ejercicio-4-p2-stack-parte-a-este-grupo-es-un-objeto"]
	path = 25-2C/ISW/ejercicio-4-p2-stack-parte-a-este-grupo-es-un-objeto
	url = git@github.com:UBA-FCEN-IngSoft1/ejercicio-4-p2-stack-parte-a-este-grupo-es-un-objeto.git
[submodule "25-2C/ISW/ejercicio-4-p2-stack-parte-b-este-grupo-es-un-objeto"]
	path = 25-2C/ISW/ejercicio-4-p2-stack-parte-b-este-grupo-es-un-objeto
	url = git@github.com:UBA-FCEN-IngSoft1/ejercicio-4-p2-stack-parte-b-este-grupo-es-un-objeto.git
[submodule "25-1C/PLP/plp-tp1-no-tipa"]
	path = 25-1C/PLP/plp-tp1-no-tipa
	url = git@git.exactas.uba.ar:bdesutonagy/plp-tp1-no-tipa.git
[submodule "25-1C/PLP/plp-tp2-no-tipa"]
	path = 25-1C/PLP/plp-tp2-no-tipa
	url = git@git.exactas.uba.ar:fmichalski/plp-tp2-no-tipa.git
[submodule "25-1C/ALC/alc-tp1"]
	path = 25-1C/ALC/alc-tp1
	url = git@git.exactas.uba.ar:bdesutonagy/alc-tp1.git
[submodule "24-2C/AED/aed-tp2-bils"]
	path = 24-2C/AED/aed-tp2-bils
	url = git@git.exactas.uba.ar:bdesutonagy/aed-tp2-bils.git
[submodule "24-1C/IP/ip-ma-dt-ma-bsn"]
	path = 24-1C/IP/ip-ma-dt-ma-bsn
	url = git@git.exactas.uba.ar:mtapia/ip-ma-dt-ma-bsn.git
[submodule "25-2C/TDDI/tp-tipos-dependientes-y-demostradores-interactivos"]
	path = 25-2C/TDDI/tp-tipos-dependientes-y-demostradores-interactivos
	url = git@git.exactas.uba.ar:bdesutonagy/tp-tipos-dependientes-y-demostradores-interactivos.git
[submodule "25-2C/ISW/ejercicio-1-p3-mars-rover-este-grupo-es-un-objeto"]
	path = 25-2C/ISW/ejercicio-1-p3-mars-rover-este-grupo-es-un-objeto
	url = git@github.com:UBA-FCEN-IngSoft1/ejercicio-1-p3-mars-rover-este-grupo-es-un-objeto.git
[submodule "25-2C/ISW/ejercicio-2-p3-portfolio-1-este-grupo-es-un-objeto"]
	path = 25-2C/ISW/ejercicio-2-p3-portfolio-1-este-grupo-es-un-objeto
	url = git@github.com:UBA-FCEN-IngSoft1/ejercicio-2-p3-portfolio-1-este-grupo-es-un-objeto.git
